<ion-view title="Users" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="users-form1" class="list">
      <ion-item class="item-avatar" id="users-list-item1">
        <h2>Item</h2>
      </ion-item>
      <label class="item item-input" id="users-input2">
        <span class="input-label">Full Name </span>
        <input type="text" placeholder="name please">
      </label>
      <ion-toggle toggle-class="toggle-positive" id="users-toggle2">Married</ion-toggle>
      <label class="item item-input" id="users-input3">
        <span class="input-label">City </span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-select" id="users-select1">
        <span class="input-label">sex</span>
        <select>
          <option>male</option>
          <option>female</option>
        </select>
      </label>
    </form>
  </ion-content>
</ion-view>